


<Br>AUTOS NUEVOS
<div (mouseover)="idHidden=false" (mouseleave)="idHidden=true" *ngFor="let car of newCars ; let i = index">


    <p  [hidden]="idHidden" >ID: {{auxKeys[i]}} </p>
    <app-car

            [type]="car.type"
            [color]="car.color"
            [capacity]="car.capacity"
            [createDate]="car.createDate"
            [price]="car.price">




    </app-car>

</div>


<br>-------------------------------------
<p>AUTOS USADOS</p>


<div (mouseover)="idHidden=false" (mouseleave)="idHidden=true" *ngFor="let car of usedCars; let i = index">


    <p  [hidden]="idHidden">ID: {{auxKeys[i]}} </p>

    <app-car



            [type]="car.type"
            [color]="car.color"
            [capacity]="car.capacity"
            [createDate]="car.createDate"
            [price]="car.price">




    </app-car>






</div>